<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/"><i class="far fa-bookmark fa-lg"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if (userId === undefined) { %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form action="/register" method="get">
            <button type="submit" class="btn btn-outline-success">Register</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/login" method="get">
            <button type="submit" class="btn btn-outline-success">Login</button>
          </form>
        </li>
      </ul>
    </div>
    <% } else { %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-success">Logout</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/users/<%= userId %>" method="get">
              <button type="submit" class="btn btn-outline-success">My Profile</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/resources/new" method="get">
              <button type="submit" class="btn btn-outline-success">Post</button>
            </form>
          </li>
          <li>
            <span class="navbar-brand mb-0 h1">Welcome back, <%= userName %> </span>
          </li>
        </ul>
      </div>
      <% } %>
        <form class="form-inline mt-2 mt-md-0" for="query" action="/search" method="get">
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
</nav>