<div class="post">
  <h3 class="postTitle">Post 1</h3>
  <!-- img preview -->
  <a href="https://designcode.io/">
    <div class="thumbnail-container" >
      <div class="thumbnail">
        <iframe src="https://designcode.io/" frameborder="0" onload="this.style.opacity = 1"></iframe>
      </div>
    </div>
  </a>
  <!-- /image preview -->
  <!-- radio know star code from  https://codepen.io/neilpomerleau/pen/wzxzQr -->
  <div class="postLikes clearfix">
  <form action="" method="post" class='rating '>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <small>average rating: 3 stars</small>
  </form>
  <form action="" method="post" class='like'><i class="fas fa-heart"></i></i></form>
</div>
<div class="postContent">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam tenetur temporibus quia porro, sit dolorem delectus laborum sunt voluptas quod, deserunt labore voluptate, quo dolores, repellendus iste consequatur quas laboriosam.</p>
</div>
<div class="postFooter">
  <div class="controls clearfix">
    <p class="show">Show Comments</p>
    <p class="hide">Hide Comments</p>
  </div>
  <div class="commentContainer">
    <div class="commentForm">
      <form method="POST" action="id:/comment" class="commentBox">
        <small> Comment box</small>
        <textarea class="commentInput" name="" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-primary commentSubmit">submit comment</button>
      </form>
    </div>
    <div class="comment">
      <h4>username</h4>
      <p class="commentText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto natus perferendis neque quibusdam consectetur earum voluptatibus quia suscipit nulla ipsum sapiente praesentium cum ad veritatis nemo tempore eos mollitia, aliquam, libero sequi blanditiis unde adipisci ratione ipsam reprehenderit. Sed, recusandae.</p>
    </div>
  </div>
</div>
</div>